.taskItem {
    list-style: none;
    border: solid 1px yellow;
    margin: 7px;
    width: 75%;
    padding: 20px;
    border-radius: 7px;
}

.taskHeader,
.taskParagraph {
    display: inline;
}

.taskParagraph  {
  font-size: 12px;;
}

.taskHeader {
  color: yellow;
}


@media only screen and (min-width: 992px) {
    .taskItem {
      width: 40%;
    }
  }