.list {
    width: 75%;
    list-style: none;
    padding: 0;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 5px;
    list-style: none;
    margin: 0;
}

.navList:hover > * {
    cursor: pointer;
}

@media only screen and (min-width: 992px) {
    .list {
      width: 50%;
    }
  }